table{
    border-collapse: collapse;
    border: 1px black solid;
    margin: auto;
    box-shadow: 1px 1px black;
}

td,th{
    border-collapse: collapse;
    border: 1px black solid;
    padding: 5px;
}

.tableContainer{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#tableTitle{
    color: blue;
    font-weight: bolder;
}